# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# App
DATABASE_URL=
JWT_ALGORITHM=
JWT_SECRET_KEY=

TEMPERATURE=
MODEL_NAME=

PINECONE_API_KEY=
PINECONE_INDEX_NAME=
DEFAULT_NAMESPACE=
GOOGLE_API_KEY=
PINECONE_REGION=
PINECONE_HOST=
MODEL_PROVIDER=
PINECONE_METRIC=
PINECONE_CLOUD=
